@charset "UTF-8";

@font-face {
  font-family: "Museo Sans Cyrl";
  font-display: swap;
  src: url("../fonts/Museo Sans Cyrl-500.woff2") format("woff2"), url("../fonts/Museo Sans Cyrl-500.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Museo Sans Cyrl";
  font-display: swap;
  src: url("../fonts/Museo Sans Cyrl-700.woff2") format("woff2"), url("../fonts/Museo Sans Cyrl-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Museo Sans Cyrl";
  font-display: swap;
  src: url("../fonts/Museo Sans Cyrl-900.woff2") format("woff2"), url("../fonts/Museo Sans Cyrl-900.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 15px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Museo Sans Cyrl";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Museo Sans Cyrl";
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*
&::-webkit-scrollbar {
	display: none;
}
*/

body {
  color: #1a1a1a;
  font-weight: 500;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1200px;
  margin: 0 auto;
}

._btn-green {
  background: #36BA5F;
  min-width: 160px;
  border-radius: 12px;
  font-weight: 700;
  font-size: 15px;
  color: #fff;
  line-height: 125%;
  height: 48px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 0 14px;
  transition: background-color 0.3s ease 0s;
  -ms-transition: background-color 0.3s ease 0s;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
}

._btn-green:hover {
  background: #278545;
}

._btn {
  background: #ffffff;
  min-width: 160px;
  border-radius: 12px;
  font-weight: 700;
  font-size: 15px;
  color: #1a1a1a;
  line-height: 125%;
  height: 48px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 0 14px;
  transition: background-color 0.3s ease 0s;
  -ms-transition: background-color 0.3s ease 0s;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
}

._btn:hover {
  background: #d3e3f6;
}

/*
//Burger
.icon-menu {
	display: none;
	@media (max-width: $md3+px) {
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}
*/

.article__wrapper {
  max-width: 690px;
  margin: 22px 0 80px 0;
}

.article__title {
  position: relative;
  font-size: 24px;
  line-height: 120%;
  font-weight: 900;
  margin-bottom: 16px;
}

.article__title a {
  margin-left: 15px;
}

.article__body {
  margin-bottom: 40px;
}

.article__body p {
  line-height: 120%;
  color: inherit;
}

.article__text {
  font-size: 13px;
  line-height: 120%;
  font-weight: 900;
  margin-bottom: 16px;
}

.article__call-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.call-us__link {
  margin-right: 8px;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.call-us__link:not(:first-child) {
  display: block;
}

.call-us__link:not(:first-child) svg rect {
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.call-us__link_btn img {
  margin-right: 8px;
}

.call-us__link:hover svg rect {
  fill: #c4c4c4;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.main-banner__body {
  background-color: #93BBEA;
  padding: 40px 0 50px 0;
  border-radius: 40px;
  margin: 40px 0px 82px 0px;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.main-banner__body::before {
  content: "";
  background: url(../img/support-main-block-plane.svg) no-repeat left;
  position: absolute;
  bottom: 17px;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.main-banner__body::after {
  content: "";
  background: url(../img/support-main-block-phone.svg) no-repeat right;
  position: absolute;
  bottom: -40px;
  right: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.main-banner__title {
  font-size: 60px;
  line-height: 120%;
  font-weight: 900;
  color: #fff;
  margin-bottom: 4px;
}

.main-banner__text {
  font-size: 17px;
  line-height: 140%;
  color: #fff;
  max-width: 535px;
  margin: 0 auto;
  margin-bottom: 36px;
}

.main-banner__list {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-banner__item {
  margin: 4px;
}

.main-banner__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 160px;
  margin: 0 auto;
}

.main-banner__link img {
  margin-right: 7px;
  vertical-align: middle;
}

.join__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 20px 60px rgba(26, 26, 26, 0.05);
          box-shadow: 0px 20px 60px rgba(26, 26, 26, 0.05);
  border-radius: 40px;
  padding: 42px 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 0px 84px 0px;
}

.join__subtitle {
  line-height: 120%;
  color: inherit;
  margin-bottom: 20px;
  font-weight: 700;
}

.join__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
}

.join__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.join__link {
  margin: 0 0 0 13px;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.join__link svg rect {
  transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
}

.join__link:hover svg rect {
  fill: #dddddd;
}

.faq__body {
  margin-bottom: 84px;
}

.faq__tiile {
  font-size: 40px;
  height: 120%;
  font-weight: 700;
  margin-bottom: 32px;
  text-align: center;
  padding: 0 10px;
}

.slider-faq {
  position: relative;
}

.slider-faq__body {
  position: relative;
}

.slider-faq__slide {
  margin: 0 20px 0 0;
  padding: 16px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 282px;
  -webkit-transition: -webkit-box-shadow 0.3s ease 0s;
  transition: -webkit-box-shadow 0.3s ease 0s;
  transition: box-shadow 0.3s ease 0s;
  transition: box-shadow 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
  -ms-transition: box-shadow 0.3s ease 0s;
  -webkit-transition: box-shadow 0.3s ease 0s;
  -o-transition: box-shadow 0.3s ease 0s;
}

.slider-faq__slide:hover {
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.slider-faq__title {
  font-size: 20px;
  line-height: 120%;
  font-weight: 700;
  margin-bottom: 9px;
  color: #1a1a1a;
}

.slider-faq__image {
  position: relative;
  top: -12px;
  left: 18px;
}

.slider-faq__text {
  color: #949494;
  line-height: 135%;
}

.help .help__title {
  color: #1a1a1a;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  margin-bottom: 32px;
  text-align: center;
}

.help .help__body {
  margin-bottom: 80px;
}

.help .help__link {
  display: block;
  position: relative;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  padding: 20px 16px;
}

.help .help__link:not(:last-child) {
  margin: 0px 0px 12px 0px;
}

.help .help__link::after {
  content: url(../img/icons/arrow-grey.svg);
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 20px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  right: 0px;
}

.help .help__link:hover {
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.help .help__title-link {
  color: #1a1a1a;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  margin: 0 24px 4px 8px;
}

.help .help__text {
  font-size: 13px;
  line-height: 140%;
  color: #949494;
  margin: 0 24px 0 8px;
}

/* Слайдер */

/* Слайдер запущен */

/* Слайдер с точками */

/* Ограничивающая оболочка */

/* Лента слайдов */

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Слайд */

/* Слайд активный (показывается) */

/* Слайд основной */

/* Слайд по центру */

/* Клонированный слайд */

/* Стрелка */

.slick-arrow {
  font-size: 0;
  width: 44px;
  height: 44px;
  top: 50%;
  margin-top: -22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background: white;
  -webkit-box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.09);
          box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.09);
  -webkit-transition: -webkit-box-shadow 0.3s ease 0s;
  transition: -webkit-box-shadow 0.3s ease 0s;
  transition: box-shadow 0.3s ease 0s;
  transition: box-shadow 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
  -ms-transition: box-shadow 0.3s ease 0s;
  -webkit-transition: box-shadow 0.3s ease 0s;
  -o-transition: box-shadow 0.3s ease 0s;
}

.slick-arrow:hover {
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

/* Стрелка влево */

.slick-arrow.slick-prev {
  z-index: 2;
  position: absolute;
  left: 0;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-transition: -webkit-box-shadow 0.3s ease 0s;
  transition: -webkit-box-shadow 0.3s ease 0s;
  transition: box-shadow 0.3s ease 0s;
  transition: box-shadow 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
  -ms-transition: box-shadow 0.3s ease 0s;
  -webkit-transition: box-shadow 0.3s ease 0s;
  -o-transition: box-shadow 0.3s ease 0s;
}

.slick-arrow.slick-prev::after {
  content: "";
  display: inline-block;
  -webkit-transition: -webkit-box-shadow 0.3s ease 0s;
  transition: -webkit-box-shadow 0.3s ease 0s;
  transition: box-shadow 0.3s ease 0s;
  transition: box-shadow 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
  -ms-transition: box-shadow 0.3s ease 0s;
  -webkit-transition: box-shadow 0.3s ease 0s;
  -o-transition: box-shadow 0.3s ease 0s;
  width: 7px;
  height: 12px;
  background: url("../img/icons/arrow.svg") center/100% no-repeat;
}

/* Стрелка вправо */

.slick-arrow.slick-next {
  z-index: 2;
  position: absolute;
  right: 0;
}

.slick-arrow.slick-next::after {
  content: "";
  display: inline-block;
  -webkit-transition: -webkit-box-shadow 0.3s ease 0s;
  transition: -webkit-box-shadow 0.3s ease 0s;
  transition: box-shadow 0.3s ease 0s;
  transition: box-shadow 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
  -ms-transition: box-shadow 0.3s ease 0s;
  -webkit-transition: box-shadow 0.3s ease 0s;
  -o-transition: box-shadow 0.3s ease 0s;
  width: 7px;
  height: 12px;
  background: url("../img/icons/arrow.svg") center/100% no-repeat;
}

/* Стрелка не активная */

.slick-arrow.slick-disabled {
  opacity: 0;
  pointer-events: none;
}

/* Точки (булиты) */

/* Активная точка */

/* Элемент точки */

@media (min-width: 1212px) {
  .join__container {
    max-width: 992px;
  }

  .help .help__container {
    max-width: 992px;
  }
}

@media (max-width: 1212px) {
  ._container {
    max-width: 970px;
  }

  .main-banner__body::before {
    position: absolute;
    bottom: 17px;
    left: -60px;
  }

  .main-banner__body::after {
    position: absolute;
    bottom: -40px;
    right: -90px;
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }

  .main-banner__body {
    margin: 30px 0px 60px 0px;
    padding: 25px;
  }

  .main-banner__body::before {
    z-index: 0;
    position: absolute;
    bottom: -50px;
    left: 4px;
    background-size: 20%;
  }

  .main-banner__body::after {
    z-index: 0;
    position: absolute;
    bottom: -74px;
    right: -37px;
    background-size: 25%;
  }

  .main-banner__title {
    font-size: 40px;
  }

  .main-banner__title {
    font-size: 34px;
  }

  .main-banner__list {
    width: 340px;
    margin: 0 auto;
  }

  .main-banner__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    max-width: 160px;
  }

  .join__body {
    padding: 30px 30px;
  }

  .join__text {
    margin-bottom: 5px;
  }

  .join__title {
    font-size: 34px;
  }

  .join__socials {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .join__link {
    margin: 13px 13px 0 0;
  }

  .faq__tiile {
    font-size: 34px;
  }

  .help .help__title {
    font-size: 34px;
  }
}

@media (max-width: 991.98px) and (max-width: 479.98px) {
  .main-banner__item {
    max-width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }

  .article__title {
    font-size: 20px;
  }

  .main-banner__body {
    margin: 30px 0px 40px 0px;
  }

  .main-banner__title {
    font-size: 24px;
  }

  .join__body {
    padding: 25px 25px;
  }

  .join__title {
    font-size: 24px;
  }

  .faq__tiile {
    font-size: 24px;
  }

  .help .help__title {
    font-size: 24px;
  }
}

@media (max-width: 479.98px) {
  .main-banner__body::before {
    z-index: 0;
    position: absolute;
    bottom: -50px;
    left: -3px;
    background-size: 26%;
  }

  .main-banner__body::after {
    z-index: 0;
    position: absolute;
    bottom: -137px;
    right: -28px;
    background-size: 28%;
  }

  .main-banner__list {
    width: 100%;
  }
}